<footer class="footer">
  <div class="container text-center">
          <div class="row">
            <div class="col-sm-6">
              <div class="pull-left">
                <p class="footerCopy">Copyright &copy;2017 by Megan Dollar</p>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="pull-right">
                    <a href="tel:4044094677"><i class="fa fa-phone"></i>  Call Me  </a>
                    <a href="mailto:megdollar@gmail.com"><i class="fa fa-envelope-o"></i>  Email Me  </a>
                    <a href="https://www.linkedin.com/in/megan-dollar/"><i class="fa fa-linkedin"></i>  Let's Connect  </a>
                    <a href="https://github.com/megdollar"><i class="fa fa-github"></i>  Github  </a>
                </div>
            </div>
        </div>
  </div>
</footer>


