<div class="jumbotron">
  <div class="container text-center">
    <h1>Megan Dollar</h1>      
    <p class="tagline">Front-end Web Developer</p>
  </div>
</div>

<div class="container-fluid bg-3" id="mainContent">
  <div class="row">
    <div class="col-sm-4 mainImage text-center">
        <img src="assets/images/IMG_1468.jpg" class="img-thumbnail megan" alt="Megan" >
    </div>
    <div class="col-sm-8 aboutMe">
      <h2 class="introduction  text-center">About Me</h2>
      <p class="text-center">I'm a web developer living in Atlanta, GA. I am a self-taught developer and I truly enjoy learning new frameworks and languages! I love to get creative with designs and seeing a blank screen turn into an amazing web experience.</p>
      <h3 class="text-center introduction">Fun Facts About Me</h3>
      <ul>
      	<li>In my spare time I love to make quilts, usually I make up the patterns!</li>
      	<li>Most days you can find me at the gym trying out a different exercise class (aerial siks, trapeze, kickboxing, zumba, you name it).</li>
      	<li>I'm a total historical fiction book nerd (I've read all of Philippa Gregory's books).</li>
      	<li>In high school I used to sell my baked goods to local shops.</li>
      	<li>My favorite drink is a negroni (my nickname is the queen of Campari).</li>
      </ul>
    </div>
  </div>
</div><br>