<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <i class="glyphicon glyphicon-menu-hamburger"></i>                      
      </button>
      <a class="navbar-brand" routerLink="">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/portfolio">Portfolio</a></li>
        <li routerLinkActive="active"><a routerLink="/resume">Resume</a></li>
        <li routerLinkActive="active"><a routerLink="/about">About</a></li>     
      </ul>
      <ul class="nav navbar-nav pull-right">
    <li class="nav-item">
      <a class="nav-link" href="mailto:megdollar@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://linkedin.com/in/megan-dollar"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/megdollar"><i class="fa fa-github" aria-hidden="true"></i></a>
    </li>
  </ul>
    </div>
  </div>
</nav>