.navbar {
	background-color: #caebf2;
	margin-bottom: 5px;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	color: #696969;
}

li, a {
	font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 767px){
    .pull-right { 
        display: none;
    }
}