<div class="jumbotron">
  <div class="container text-center">
    <h1>Megan Dollar</h1>      
    <p class="tagline">Front-end Web Developer</p>
  </div>
</div>

<div class="container-fluid bg-3 text-center" id="mainContent">
  <div class="row">
    <div class="col-sm-12 portfolioBlock">
      <h2 class="text-center introduction">Portfolio</h2>
      <p class="text-center overview">Below are a few projects that I have worked on in the past. Each one showcases my skill-set related to front-end development. Click on the button to view the readme and github repository, and click on the image to view the live site.</p>
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-3 project">
      <h3 class="tempName">Favorite Destinations API</h3>
      <img src="/assets/images/destinations.png" class="img-rounded img-responsive" style="width:100%" alt="Image">
         <p class="text-center description">I created a single-page application of some of my favorite attractions for an upcoming vacation utilizing the KnockoutJS MVVM pattern and third-party APIs: GoogleMaps and Wikipedia.</p>
      <button type ="button" class="btn btn-default btn-small"><a href="https://github.com/megdollar/Neighborhood_Map">GitHub</a></button>
      <button type ="button" class="btn btn-default btn-small"><a href="https://megdollar.github.io/Neighborhood_Map/">View</a></button>

    </div>
    <div class="col-sm-3 project"> 
      <h3 class="tempName">Resume</h3>
      <img src="/assets/images/resume1.png" class="img-rounded img-responsive" style="width:100%" alt="Image">
      <p class="text-center description">This is a responsive resume I created to showcase my projects, work experience, education, and design concepts. Utilizing jQuery and JavaScript combined with CSS3 and HTML5.</p>
      <button type ="button" class="btn btn-default btn-small"><a href="https://github.com/megdollar/megdollar.github.io">GitHub</a></button>
      <button type ="button" class="btn btn-default btn-small"><a href="https://megdollar.github.io/">View</a></button>

    </div>
    <div class="col-sm-3 project"> 
      <h3 class="tempName">Frogger Arcade Game</h3>
      <img src="/assets/images/arcade.png" class="img-rounded img-responsive" style="width:100%" alt="Image">
      <p class="text-center description">This is a fun frogger game where your objective is to move the Player across the screen to the water while avoiding the enemy! You will use the arrow keys on your keyboard to move the player.</p>
      <button type ="button" class="btn btn-default btn-small"><a href="https://github.com/megdollar/Arcade_Game">GitHub</a></button>
      <button type ="button" class="btn btn-default btn-small"><a href="https://megdollar.github.io/Arcade_Game/">View</a></button>

    </div>
    <div class="col-sm-3 project">
      <h3 class="tempName">RWD</h3>
      <img src="/assets/images/rwd.png" class="img-rounded img-responsive" style="width:100%" alt="Image">
      <p class="text-center description">I transformed a mockup of a design into my portfolio to showcase projects. I also used media queries to make the static page responsive. This page was created utilizing flexbox.</p>
      <button type ="button" class="btn btn-default btn-small"><a href="https://github.com/megdollar/portfolio">GitHub</a></button>
      <button type ="button" class="btn btn-default btn-small"><a href="https://megdollar.github.io/portfolio/">View</a></button>


    </div>
  </div>
</div><br><br>