<div class="container-fluid navCenter">
    <div class="row content">
        <div class="col-sm-2 sidenav navMenu">
            <p><a [routerLink]="['/resume']" fragment="education" (click)="onAnchorClick()">Education</a></p>
            <p><a [routerLink]="['/resume']" fragment="projects" (click)="onAnchorClick()">Projects</a></p>
            <p><a [routerLink]="['/resume']" fragment="workExperience" (click)="onAnchorClick()">Work Experience</a></p>

        </div>
        <div class="col-sm-7 text-left main">
            <h3 id="education"><i class="glyphicon glyphicon-education"></i> Education</h3>
            <h4>Udacity</h4>
            <ul class="list-group">
                <li class="list-group-item">Front-End Web Developer Nanodegree<span class="badge">January, 2017</span></li>
                <li class="list-group-item">Intro to Programming Nanodegree<span class="badge">February, 2016</span></li>
            </ul>
            <h4>Kennesaw State University</h4>
            <ul class="list-group">
                <li class="list-group-item">Intro to C#<span class="badge">May, 2015</span></li>
                <li class="list-group-item">Intro to Programming<span class="badge">March 2015</span></li>
                <li class="list-group-item">Psychology, B.S. Cum Laude<span class="badge">2009</span></li>
            </ul>
            <hr>
            <h3 id="projects"><i class="glyphicon glyphicon-blackboard"></i> Projects</h3>
            <div class="list-group">
                <a href="https://megdollar.github.io/TikiApp/" class="list-group-item">
                    <h4 class="list-group-item-heading">Tiki Quiz App<span class="badge pull-right">March 2017</span></h4>
                    <p class="list-group-item-text listItem">Created a quiz application prototype for a contract using object-oriented javascript </p>
                    <p class="list-group-item-text listItem">Languages used: JavaScript, CSS3</p>
                </a>
                <a href="http://gingermegtravels.wordpress.com" class="list-group-item">
                    <h4 class="list-group-item-heading">Travel Blog<span class="badge pull-right">February 2017</span></h4>
                    <p class="list-group-item-text listItem">Designed a travel blog using WordPress.com</p>
                </a>
                <a href="https://megdollar.github.io/Neighborhood_Map/" class="list-group-item">
                    <h4 class="list-group-item-heading">Neighborhood Map<span class="badge pull-right">January 2017</span></h4>
                    <p class="list-group-item-text listItem">Utilized MVVM framework with Knockout to separate concerns and dynamically update UI</p>
                    <p class="list-group-item-text listItem">Implemented two third-party APIs: Google Maps and Wikipedia</p>
                    <p class="list-group-item-text listItem">Languages used: JavaScript, CSS, Knockout</p>
                </a>
                <a href="https://megdollar.github.io/Pizzeria_portfolio/" class="list-group-item">
                    <h4 class="list-group-item-heading">Website Performance Optimization<span class="badge pull-right">December 2016</span></h4>
                    <p class="list-group-item-text listItem">Optimized pizza website to reach a consistent frame rate of 60 fps, utilizing rAF, event handlers, and CSS properties</p>
                    <p class="list-group-item-text listItem">Measured critical rendering path of index website and optimized to achieve a page speed score of 90+</p>
                    <p class="list-group-item-text listItem">Languages used: JavaScript, CSS</p>
                </a>
                <a href="https://megdollar.github.io/Arcade_Game/" class="list-group-item">
                    <h4 class="list-group-item-heading">Arcade Game<span class="badge pull-right">October 2016</span></h4>
                    <p class="list-group-item-text listItem">Developed a twist to the classic arcade game Frogger to showcase object-oriented programming, utilizing event handlers and class prototype functions</p>
                    <p class="list-group-item-text listItem">Language used: JavaScript</p>
                </a>
                <a href="https://megdollar.github.io/" class="list-group-item">
                    <h4 class="list-group-item-heading">Resume<span class="badge pull-right">September 2016</span></h4>
                    <p class="list-group-item-text listItem">Designed an interactive resume to showcase skills, projects, and work experience</p>
                    <p class="list-group-item-text listItem">Created objects to match a schema and used JavaScript to dynamically display the resume data contained within</p>
                    <p class="list-group-item-text listItem">Languages used: HTML, CSS, JavaScript</p>
                </a>
            </div>
            <hr>
            <h3 id="workExperience"><i class="glyphicon glyphicon-briefcase"></i> Work Experience</h3>
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Swarovski<span class="badge pull-right">July 2014 - November 2016</span></h4>
                    <h5 class="list-group-item-text">Store Manager</h5>
                    <p class="list-group-item-text listItem">Built and maintained client relations daily by providing top notch service and utilizing clientele system, with a minimum of 200 active VIP clients annually</p>
                    <p class="list-group-item-text listItem">Implemented training and development modifications to assist staff in achieving company’s targeted goal + 8% over LFL sales</p>
                    <p class="list-group-item-text listItem">Actively recruited top talent, mentor, and develop management and sales staff</p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">The Body Shop<span class="badge pull-right">February 2012 - July 2014</span></h4>
                    <h5 class="list-group-item-text">Store Manager</h5>
                    <p class="list-group-item-text listItem">Led sales initiatives resulting in achievement of 110-130% to targeted goals</p>
                    <p class="list-group-item-text listItem">Monitored all aspects of loss prevention to effectively reduced shrink</p>
                    <p class="list-group-item-text listItem">Maintained awareness of shop’s performance related to the competition; kept abreast of trends</p>
                </div>
                <div class="list-group-item workTitle">
                    <h4 class="list-group-item-heading">Emory Healhcare<span class="badge pull-right">April 2011 - December 2011</span></h4>
                    <h5 class="list-group-item-text">Client Service Coordinator</h5>
                    <p class="list-group-item-text listItem">Provided outstanding customer service and increased client satisfaction to 100% from a previous score of 70% </p>
                    <p class="list-group-item-text listItem">Obtained pre-certification for outpatient procedures along with daily scheduling of appointments</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 sidenav navAbout"> <img class="img-thumbnail" src="assets/images/IMG_1468.jpg" alt="megan" height="150" width="150">
            <h3>Megan Dollar</h3>
            <p class="skillsLabel"><em>Front-End Web Developer</em></p>
            <br>
            <div class="navContact">
                <ul class="sidenavContact navCenter">
                    <li><a href="tel:4044094677"><i class="fa fa-phone"></i> 404 409 4677</a> </li>
                    <li><a href="mailto:megdollar@gmail.com"><i class="fa fa-envelope-o"></i> Email Me</a></li>
                    <li><a href="https://www.linkedin.com/in/megan-dollar/"><i class="fa fa-linkedin"></i> Linkedin</a></li>
                    <li><a href="https://github.com/megdollar"><i class="fa fa-github"></i> Github</a></li>
                </ul>
            </div>
            <br>
            <div class="navCenter">
                <h4 class="skillsLabel">SKILLS</h4>
                <ul class="skillsNav">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>jQuery</li>
                    <li>Python</li>
                    <li>Knockout</li>
                    <li>Responsive Design</li>
                    <li>Git/GitHub</li>
                    <li>Website Optimization</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
        </div>
    </div>
</div>