<div class="jumbotron">

  <div class="container text-center">
    <h1>Megan Dollar</h1>      
    <p class="tagline">Front-end Web Developer</p>
  </div>
</div>

<div class="container-fluid bg-3 text-center" id="mainContent">
  <div class="row">

    <div class="col-sm-12 aboutMe">
      <h2 class="introduction"> Welcome. I'm a front-end developer from Atlanta, GA. Fast-loading and responsive front-end web development using valid and semantic coding implementations.</h2>
    </div>
  </div>
</div>
<br>

<div class="container-fluid bg-3 text-center">    
  <h2 class="templateDesign">Services</h2><br>
  <div class="row">
    <div class="col-sm-4">
      <h4 class="tempName">Front-end Development</h4>
      <p class="text-center description">Organized HTML5, CSS3, JavaScript, and jQuery bring your mockups to life. My HTML is validated and my CSS is organized which makes sites easy to update and maintain. I will transform your completed design mockup into a fully functional site.</p>
    </div>
    <div class="col-sm-4"> 
      <h4 class="tempName">Responsive Design</h4>
      <p class="text-center description">When I develop a site I ensure that it is fully responsive accross all devices. My practice includes designing a mobile site that is fully responsive up to desktop, and all sizes between. Consistency accross all viewports is crucial.</p>
    </div>
    <div class="col-sm-4"> 
      <h4 class="tempName">Semantics</h4>
      <p class="text-center description">Semantics are paramount to creating proper code standards. Descriptive and short classes, as well as commented code allow for easy revisions later on. Utilization of alt tags and labels ensure users with assistive devices can navigate your website.</p>
    </div>
  </div>
</div><br><br>

